# {{AGENT_DESCRIPTION}}

{{AGENT_PREFIX}}_INFERENCE_URL=http://localhost:11434
{{AGENT_PREFIX}}_MODEL=llama3.2
{{AGENT_PREFIX}}_VAULT_PATH=/path/to/vault
{{AGENT_PREFIX}}_COLLECTION_ID=
{{AGENT_PREFIX}}_USERNAME=
{{AGENT_PREFIX}}_HISTORY_DEPTH=20
{{AGENT_PREFIX}}_SEARXNG_URL=
{{AGENT_PREFIX}}_FETCH_MAX_BYTES=2000000
{{AGENT_PREFIX}}_FETCH_TIMEOUT=30
{{AGENT_PREFIX}}_MAX_RESPONSE_TOKENS=4096
{{AGENT_PREFIX}}_BATCH_ENABLED=false
{{AGENT_PREFIX}}_BATCH_INFERENCE_URL=http://localhost:11434
{{AGENT_PREFIX}}_BATCH_MODEL=
{{AGENT_PREFIX}}_SCRATCHPAD_MAX_BYTES=2048
